{% extends 'base.html' %}

{% block title %}Entrar{% endblock %}

{% block content %}

<section class="auth-page">
    <div class="auth-card">
        <h1>Entrar</h1>

        {% if form.errors %}
            <div class="alert alert-danger">
                E-mail ou senha inválidos.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary w-100">
                Entrar
            </button>
        </form>

        <hr>

        <p class="mb-0">
            Ainda não tem conta?
            <a href="{% url 'cadastro_usuario' %}">
                Solicitar acesso
            </a>
        </p>
    </div>
</section>

{% endblock %}